body {
  background-color: white;
  background-image: url("../new_year_background.png"); }

header, .content, .selectBox, .accordion, .imageDiv {
  border-radius: 25px;
  padding: 12px;
  margin: 10px;
  display: flex; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
  align-items: center; }

header {
  flex-direction: column;
  display: inline;
  background-color: #87ceee;
  border: 5px solid #00a3cc;
  justify-content: center;
  width: 80%;
  margin-top: 30px;
  box-shadow: 7px 7px 3px #888888; }

h1 {
  margin-top: 15px !important;
  margin-left: 35px;
  justify-content: center;
  text-shadow: 2px 2px #4d4d4d;
  display: inline; }

.headClass {
  display: inline;
  float: right;
  justify-content: center;
  margin-right: 50px;
  margin-top: 10px; }

.head2 {
  display: block;
  justify-content: center;
  font-size: 20px;
  text-align: center; }

.head3 {
  display: block;
  justify-content: center;
  font-size: 16px;
  text-align: center;
  float: center; }

.content {
  width: 80%; }

.selectBox {
  background-color: #df5b50;
  border: 5px solid #d22827;
  flex-grow: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 7px 7px 3px #888888; }

#hikeForm {
  text-align: center;
  align-items: center;
  justify-content: center; }

.moveButtons {
  margin-left: 35% !important; }

.accordion {
  float: left;
  flex-direction: column;
  display: inline-block;
  color: black;
  margin: 0;
  padding: 0;
  width: 200px;
  margin-bottom: 10px; }

.accordion li {
  float: left;
  margin: 4px;
  list-style-type: none;
  background-color: white;
  border-radius: 15px; }

.accordion ul {
  background-color: #df5b50; }

.accordion-control {
  display: inline-block;
  background-color: lightgray;
  color: black;
  font-size: 1.5em;
  display: block;
  border-radius: 15px;
  width: 200px;
  padding: 0.5em 0.5em 0.5em 0.7em;
  margin: 0;
  border: 3px solid #666; }

.accordion-panel {
  display: none; }

.accordion-panel p {
  float: left;
  display: inline-block; }

.imageDiv {
  background-color: #ff9933;
  border: 5px solid #e68a00;
  flex-grow: 2;
  display: block;
  margin-left: auto;
  margin-top: auto;
  justify-content: center;
  max-width: 450px;
  margin-left: 50px;
  box-shadow: 7px 7px 3px #888888; }
  .imageDiv aside {
    display: block;
    text-align: center;
    justify-content: center; }

.imageDiv img {
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: center;
  text-align: center;
  justify-content: center;
  border-radius: 25px; }

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #ac3973;
  border: 5px solid #800040;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  float: left;
  box-shadow: 5px 5px 2px #888888; }

.circle:hover {
  opacity: 0.75;
  -webkit-animation-name: circle;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 100; }

@-webkit-keyframes circle {
  from {
    -webkit-transform: scale(1);
    opacity: 0.75; }
  50% {
    -webkit-transform: scale(1.2);
    opacity: 1.0; }
  to {
    -webkit-transform: scale(1);
    opacity: 0.75; } }

#aboutClick p {
  display: inline-flex;
  color: white;
  margin: 0px;
  font-size: 15px; }

#leaveNoTrace {
  font-size: 14px; }

a {
  color: white;
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: white; }

a:visited {
  text-decoration: none !important;
  color: white; }

#resultPopup {
  position: absolute;
  background-image: url("../tree3.jpg");
  margin-top: -750px;
  padding: 30px;
  color: white;
  background-color: #70db70;
  border: 20px solid green;
  border-radius: 25px;
  align-items: center;
  width: 77%;
  height: 95%;
  box-shadow: 7px 7px 3px #888888; }

#resultPopup h1 {
  font-size: 60px;
  margin-top: 25px;
  margin-left: 25px;
  align-items: center; }

#resultPopup a {
  color: #e600e6;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px #4d4d4d; }

.resultSection {
  margin-top: 20px;
  padding: 10px; }

.resultSection p {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px #4d4d4d; }

.current {
  font-size: 30px;
  display: inline; }

#aboutPopup {
  position: absolute;
  margin-top: -750px;
  padding: 15px;
  color: white;
  height: absolute;
  background-color: #ac3973;
  border: 20px solid #800040;
  border-radius: 25px;
  align-items: center;
  width: 90%;
  height: 98%;
  box-shadow: 7px 7px 3px #888888;
  align-items: center; }

#aboutPopup h1 {
  font-size: 60px;
  margin-top: 25px;
  margin-left: 25px;
  align-items: center; }

#aboutPopup a {
  color: #e600e6;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px #4d4d4d; }

#aboutContainer {
  display: flex;
  flex-direction: row;
  margin-top: 70px; }

.aboutSection {
  display: inline-block;
  padding: 10px;
  width: 40%;
  display: flex;
  margin-left: 15px;
  flex-direction: column;
  flex-grow: 1; }

.aboutSection p {
  font-size: 18px;
  font-weight: bold;
  text-shadow: 2px 2px #4d4d4d; }

#aboutImage {
  display: inline-block;
  margin-bottom: 40px;
  flex-grow: 1; }

#aboutHeader {
  margin-top: 20px;
  padding: 10px; }

#aboutImage img {
  width: 450px;
  height: 450px;
  display: inline-block;
  padding: 12px;
  margin-right: -200px;
  margin-left: 15px;
  border-radius: 25px; }

@font-face {
  font-family: "Tulia";
  /*a name to be used later*/
  src: url(../Tulia_regular.otf);
  /*URL to font*/ }

h1 {
  font-family: "Tulia";
  font-size: 70px;
  font-weight: strong;
  color: #e68a00; }

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold; }

.content {
  color: white; }

#hikeForm .submitBtn {
  height: 30px;
  width: 70px;
  color: black;
  display: block;
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin-top: 3px;
  margin: 5px;
  flex-direction: column;
  box-shadow: 3px 3px 1px #888888;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 16px; }

#hikeForm button:focus {
  outline: 0; }

#hikeForm .submitBtn:focus {
  outline: 0; }

#hikeForm .submitBtn:hover {
  width: 80px;
  background-color: darkgray; }

#hikeForm #resetBtn {
  height: 30px;
  width: 70px;
  color: black;
  display: block;
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin-top: 4px !important;
  flex-direction: column;
  box-shadow: 3px 3px 1px #888888;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 17px; }

#hikeForm #resetBtn:focus {
  outline: 0; }

#hikeForm #resetBtn:hover {
  width: 80px;
  background-color: darkgray; }
