//using the $ sign makes reusable variables
$blue: rgb(135, 206, 238);
$dblue: rgb(0, 163, 204);
$dred: rgb(210, 40, 39);
$lred: rgb(223, 91, 80);
$gr1: rgb(51, 204, 51);
$gr3: rgb(128, 255, 128);
$gr2: rgb(112, 219, 112);
$gr4: rgb(0, 128, 0);
$gr5: rgb(41, 163, 41);
$dkpur: rgb(128, 0, 64);
$ltpur: rgb(172, 57, 115);
$ltor: rgb(255, 153, 51);
$dkor: rgb(230, 138, 0);


body {
  background-color: white;
  background-image: url("../new_year_background.png");
}

//@include divs(200px, 200px, 1px solid green);
//what is this
// calling a mixin - whatever styling pass these parameters and apply styles

%standardStyle {
  border-radius: 25px;
  padding: 12px;
  margin: 10px;
  display: flex;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
  align-items: center;
}


header {
  @extend %standardStyle;
  flex-direction: column;
  display: inline;
  background-color: $blue;
  border: 5px solid $dblue;
  justify-content: center;
  width: 80%;
  margin-top: 30px;
  box-shadow: 7px 7px 3px #888888;
}
h1{
  float: left;
  margin-left: 35px;
  justify-content: center;
  text-shadow: 2px 2px;
}
.headClass{
  display: inline;
  float: right;
  justify-content: center;
  margin-right: 70px;
  margin-top: 10px;
}
      .head2{
      display: block;
      justify-content: center;
      font-size: 20px;
      text-align: center;
      }

      .head3{
      display: block;
      justify-content: center;
      font-size: 16px;
      text-align: center;
      float: center;
      }

.content{
  @extend %standardStyle;
  width: 80%;
}
    .selectBox{
      @extend %standardStyle;
      background-color: $lred;
      border: 5px solid $dred;
      flex-grow: 1;
      text-align: center;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      box-shadow: 7px 7px 3px #888888;
      //float: left;
    }
    #hikeForm{
      text-align: center;
      align-items: center;
      justify-content: center;
    }

          .accordion {
            @extend %standardStyle;
            float: left;
            //background-color: white; //#f2f2f2;
            flex-direction: column;
            display: inline-block;
            color: black;
          //  flex-direction: row;
            //float: left;
            margin: 0;
            padding: 0;
            width: 200px;
            //border-radius: 25px;
          //  overflow: auto;
        }

          .accordion li {
            float: left;
            //padding: 4px;
            margin: 4px; //why not working
            list-style-type: none;
            background-color: white;
            border-radius: 15px;
            //display: inline-block;
            //border: 2px solid black;
            }
            .accordion ul {
              background-color: $lred;
            }

          .accordion-control {
            display: inline-block;
          //float: left;
            background-color: lightgray;
            color: black;
            font-size:1.5em;
            display: block;
            border-radius: 15px;
            width: 200px;
            padding: 0.5em 0.5em 0.5em 0.7em;
            margin: 0;
            border: 3px solid #666;
          }
          .accordion-panel {
            display: none;
           }

          .accordion-panel p {
          //  margin: 20px;
            float: left;
            display: inline-block;

          }

    .imageDiv{
      @extend %standardStyle;
      background-color: $ltor;
      border: 5px solid $dkor;
      flex-grow: 2;
      display: block;
      margin-left: auto;
      margin-top: auto;
      justify-content: center;
      max-width: 450px;
      margin-left:50px;
      box-shadow: 7px 7px 3px #888888;


      aside {
        display: block;
        text-align: center;
        justify-content: center;
      }
    }

footer {


}

img {
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: center;
  text-align: center;
  justify-content: center;
  border-radius: 25px;
}

.buttonHolder{
  text-align: center;
  float: center;
  justify-content: center;
  align-items: center;
}

.circle {
  width:100px;
  height:100px;
  border-radius:50px;
  background-color:$ltpur;
  border: 5px solid $dkpur;
  line-height:100px;
  text-align:center;
  margin-right: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  float: left;
  box-shadow: 5px 5px 2px #888888;
}
.circle:hover{
  opacity: 0.75;
  -webkit-animation-name: circle;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 100;
}

@-webkit-keyframes circle {
  from {
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
  50% {
    -webkit-transform: scale(1.2);
    opacity: 1.0;
  }
  to {
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
}


a{
  color: white;
  text-decoration: none;
  display: block;
}
a:hover{
  text-decoration: none;
  color: white;
}
