
@font-face {
  font-family: "Tulia"; /*a name to be used later*/
  src: url('../Tulia_regular.otf'); /*URL to font*/
}
h1{
  font-family: "Tulia";
  font-size: 70px;
}
html{
  font-family: 'Source Sans Pro', sans-serif;
}
