
@font-face {
  font-family: "Tulia"; /*a name to be used later*/
  src: url(../Tulia_regular.otf); /*URL to font*/
}//why is it not working
h1{
  font-family: "Tulia";
  font-size: 70px;
  font-weight: strong;
  color: $dkor;
}
body{
  //font-family: 'Asap', sans-serif;

  //font-family: 'Maven Pro', sans-serif;

  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
//  font-family: 'Monda', sans-serif;

//  font-family: 'Titillium Web', sans-serif;

}

.content {
  color: white;
}
